<div class="card" style="width: 12rem;">
  <img src="../../../assets/lentejas.png" class="card-img-top image-card" alt="...">
  <div class="card-body text-center">
    <h6 class="card-subtitle text-muted">Entrada</h6>
    <h5 class="card-title">Lentejas supremas</h5>
    <hr>
    <button type="button" class="btn btn-outline">
      <fa-icon class="" [icon]="faShareAlt"></fa-icon>
    </button><button type="button" class="btn btn-outline">
      <fa-icon class="" [icon]="faHeart"></fa-icon>
    </button>
  </div>
</div>
