<div class="main">
  <main>
    <div class="row mx-0 mt-3 text-rigth">
      <div class=" col-sm-12 col-lg-6"></div>
      <div class="col-lg-6 px-2 mx-0" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
        <div class="row mx-0 text-center">
          <div class="col-lg-12 nombre mt-3">
            <h1 class="mx-0">Robust<b>Rounce</b></h1>
            <p class="mt-0">
              Encuentra recetas para toda ocasion</p>
          </div>
        </div>
        <div class="row mx-0 h-100 ">

          <div class="col text-center px-10">
            <a [routerLink]="['/desayuno']" routerLinkActive="router-link-active" href="">
              <img class="img-fluid" src="../../../assets/horarios_comida/milk.svg" alt="">
            </a>
            <h5 class="p-1">Desayuno</h5>
          </div>

          <div class="col text-center px-10">
            <a [routerLink]="['/comida']" routerLinkActive="router-link-active" href="">
              <img class="img-fluid" src="../../../assets/horarios_comida/meat.svg" alt="">
            </a>
            <h5 class="p-1">Comida</h5>
          </div>

          <div class="w-100"></div>
          <div class="col text-center px-10">
            <a [routerLink]="['/cena']" routerLinkActive="router-link-active" href="">
              <img class="img-fluid" src="../../../assets/horarios_comida/dinner.svg" alt="">
            </a>
            <h5 class="p-1">Cena</h5>
          </div>

          <div class="col text-center px-10">
            <a [routerLink]="['/colacion']" routerLinkActive="router-link-active" href="">
              <img class="img-fluid" src="../../../assets/horarios_comida/almond.svg" alt="">
            </a>
            <h5 class="p-1">Colacion</h5>
          </div>

        </div>
      </div>
    </div>
  </main>
</div>
